# Ignore node_modules (dependencies installed locally)
node_modules

# Ignore environment variable files
.env
.env.local

# Ignore logs
*.log

# Ignore version control files
.git
.gitignore

# Ignore Docker-related files if not needed
Dockerfile
docker-compose.yml

# Ignore build artifacts
dist/
build/
