# local postgres database. `docker compose up --env-file .env.production` to start with the seed data.
# `docker compose down` to delete the container. (this will delete all data in the database)
# version: "3.7"

services:
  db:
    image: postgres
    container_name: Sliver-Taxi-${NODE_ENV}-DB
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./.data/pg:/var/lib/postgresql/data
    networks:
      - silver-taxi-network


redis:
  image: redis/redis-stack-server:latest
  restart: unless-stopped
  container_name: Sliver-Taxi-${NODE_ENV}-Redis
  environment:
    - REDIS_ARGS=--requirepass ${REDIS_PASSWORD}
  volumes:
    - ./.data/redis:/data
  ports:
    - ${REDIS_PORT}:6379
  networks:
    - silver-taxi-network

# redis_insight:
#   image: redis/redisinsight:latest
#   container_name: redis_insight_taxi_engine
#   restart: unless-stopped
#   ports:
#     - ${REDIS_UI_PORT}:5540
#   volumes:
#     - ./.data/redis_insight_volume_data:/db
#   networks:
#     - silver-taxi-network

networks:
  silver-taxi-network:
    driver: bridge
