apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-config
data:
  pgbouncer.ini: |
    [databases]
    primary = host=postgres-postgresql-primary port=5432 auth_user=postgres dbname=defaultdb
    defaultdb = host=postgres-postgresql-primary port=5432 auth_user=postgres dbname=defaultdb
    replica = host=postgres-postgresql-read port=5432 auth_user=postgres dbname=defaultdb

    [pgbouncer]
    listen_addr = 0.0.0.0
    listen_port = 6432
    auth_type = md5
    auth_file = /etc/pgbouncer/userlist.txt
    auth_query = SELECT usename, passwd FROM pg_shadow WHERE usename=$1
    admin_users = postgres
    pool_mode = session
    max_client_conn = 1000
    default_pool_size = 20
    ignore_startup_parameters = extra_float_digits

  userlist.txt: |
    "postgres" "admin_password"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgbouncer
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pgbouncer
  template:
    metadata:
      labels:
        app: pgbouncer
    spec:
      containers:
        - name: pgbouncer
          image: edoburu/pgbouncer:latest
          ports:
            - containerPort: 6432
          volumeMounts:
            - name: config
              mountPath: /etc/pgbouncer
          livenessProbe:
            tcpSocket:
              port: 6432
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 6432
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: pgbouncer-config
---
apiVersion: v1
kind: Service
metadata:
  name: pgbouncer
spec:
  type: LoadBalancer
  ports:
    - port: 6432
      targetPort: 6432
  selector:
    app: pgbouncer
